body {
  margin: 0;
  font-family: Arial, sans-serif;
  background: linear-gradient(135deg, white, white );
}

.dashboard {
  padding: 20px;
}

.title {
  color: #4b1b8f;
  font-weight: bold;
}

.top-cards, .bottom-cards {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 15px;
}

.card {
  background: #ffe2ff;
  border-radius: 12px;
  padding: 15px;
}

.highlight {
  border: 3px solid #3a7bff;
}

.card h1 {
  margin: 5px 0;
}

.split {
  display: flex;
  justify-content: space-between;
}

.split p span {
  font-size: 12px;
  color: #555;
}

.calendar table {
  width: 100%;
  text-align: center;
  margin-top: 10px;
}

.calendar .active {
  background: #d6a5a5;
  border-radius: 50%;
}

.year {
  text-align: center;
  margin-top: 10px;
}

.table-card {
  margin: 20px 0;
}

.data-table {
  width: 100%;
  border-collapse: collapse;
}

.data-table th, .data-table td {
  padding: 8px;
  text-align: left;
}

.data-table th {
  font-weight: bold;
}

.circle {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  background: conic-gradient(red 0 30%, blue 30% 60%, orange 60% 90%, green 90% 100%);
  margin: auto;
}

.bars {
  display: flex;
  align-items: flex-end;
  gap: 10px;
  height: 150px;
}

.bars span {
  width: 20%;
  background: #ff5a5a;
  height: 60%;
}

.bars span:nth-child(2) { height: 70%; background:#4fa3ff; }
.bars span:nth-child(3) { height: 45%; background:#9bd18b; }
.bars span:nth-child(4) { height: 37%; background:#ffe29a; }
.bars span:nth-child(5) { height: 65%; background:#ff9ef0; }
.chart-card {
  border: 3px solid #c084fc;
  background: #f8e9ff;
}

canvas {
  width: 100% ;
  height: 200px;
}
